.1_3 { 
	overflow:hidden;
}.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1625px;
	height:1041px;
	position:absolute;
}.e4_4 { 
	background-color:rgba(39.65252906084061, 35.65521955490112, 235.52083164453506, 1);
	width:1625px;
	height:179px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_5 { 
	background-color:rgba(140.57534158229828, 75.79017072916031, 171.06248885393143, 1);
	width:419px;
	height:335px;
	position:absolute;
	left:37px;
	top:211px;
}.e4_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1538px;
	height:237px;
	position:absolute;
	left:44px;
	top:757px;
}.e4_7 { 
	background-color:rgba(52.217432633042336, 108.00177946686745, 111.56248480081558, 1);
	width:461px;
	height:335px;
	position:absolute;
	left:562px;
	top:211px;
}.e4_8 { 
	background-color:rgba(97.07561016082764, 162.62827903032303, 166.81247770786285, 1);
	width:411px;
	height:335px;
	position:absolute;
	left:1129px;
	top:211px;
}.e4_9 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:44px;
	position:absolute;
	left:179px;
	top:648px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}